@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;400&display=swap");

*{
	font-family: "Be Vietnam Pro", sans-serif;
	user-select: none;
	font-size: 16px; 
}

body{
	background-color: black; 
	color: white; 
	overflow: hidden; 
	margin: 0; 
}

#canvas{
	float: left; 
	cursor: move; 
}

#separator{
	float: left; 
	width: 8px; 
	height: 100vh; 
    cursor: e-resize;
	background-color: #252939; 
	display: flex; 
	justify-content: center; 
	align-items: center; 
	transition: 0.2s; 
}

#drag{
	background-color: #545a6e; 
	border-radius: 2px; 
	width: 2.5px; 
	height: 25px; 
	transition: 0.2s;
}

#separator:hover{
	background-color: #303444; 
}

#separator:hover #drag{
	background-color: #747a8e; 
}

#controls{
	float: left; 
	padding: 20px; 
	box-sizing: border-box;
	height: 100vh; 
	overflow: auto; 
	overflow-wrap: break-word; 
}

.title{
	font-size: 24px; 
	color: #B7EEC7; 
	margin-bottom: 5px; 
	cursor: pointer; 
}

.subtitle{
	font-size: 18px; 
	margin: 5px 0; 
}

input{
	outline: none;
	width: 80px;
	border: none; 
	background-color: transparent; 
	color: white; 
	border-bottom: 2px solid #888888; 
	padding: 2px; 
	font-size: 15px; 
	cursor: pointer; 
	transition: border-bottom-color 0.3s; 
}

input:focus{
	cursor: text; 
	border-bottom-color: #7B4CE3; 
}

#settings, #planets{
	max-height: 1000px; 
	overflow: hidden; 
	transition: 0.3s; 
}

#len-scale-a, #len-scale-b, #time-scale-a, #time-scale-b{
	width: 20px; 
}

#length{
	font-size: 15px; 
    position: absolute;
    visibility: hidden;
    height: auto;
    width: auto;
    white-space: nowrap; 
}

::-webkit-scrollbar{
  	width: 10px;
}

::-webkit-scrollbar-track{
	background: transparent; 
}

::-webkit-scrollbar-thumb{
  	background: #7B4CE3; 
  	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover{
	opacity: 0.8; 
}

::selection{
	background-color: #7B4CE3;
}
